input[type="submit"] {
  @include button;
}

footer {
  bottom: 0;
  width: 100%;
  color: #eee;
  height: auto;
  position: absolute;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 0;
  background-color: #000;
  p {
  	font-family: 'Oswald', sans;
  	font-size: 0.8em;
	text-transform: uppercase;
	line-height: 3em;
  }
}

body {
	background-image: url('congruent_pentagon.png');
	background-repeat: repeat;
	background-attachment: fixed;
}

.spacer {
	display: block;
	height: 150px;
}

.drop-shadow {
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.7);
}

.post {
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
	padding: 30px 30px 20px 30px;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4);
	background-color: rgba(255, 255, 255, 0.9);
	background-image: linear-gradient(to bottom, #eee, #fff 20%);
}

.top-bar {
	width: 100%;
	z-index: 10;
}

.light {
	color: #ddd;
}

#post_timestamp_1i, #post_timestamp_2i, #post_timestamp_3i {
	display: inline;
	width: auto;
	float: right;
}

.bold {
	font-family: 'Oswald', sans;
	text-transform: uppercase;
}

.tags, .tags:hover, .tags:active {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-style: italic;
	font-size: 0.9em;
	float: right;
	color: #fff;
	background-color: #2BA6CB;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-left: 2px;
}

.simple-pagination {
	text-align: center;
	padding: 1em;
	cursor: default;
}

.simple-pagination .previous_page {
	float: left;
}

.simple-pagination .next_page {
	float: right;
}
