<nav class="top-bar drop-shadow">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%= link_to '/dev/blog', root_path %>
      </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone 
-->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li>
	<% if user_signed_in? %>
		<%= link_to(' ' + current_user.email, destroy_user_session_path, :method => :delete) %>
	<% else %>
		<%= link_to('Login', new_user_session_path) %>
	<% end %>
      </li>
    </ul>
  </section>
</nav>

<br /><br /><br /><br />
